<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  <ion-title>Daftar Produk</ion-title>
</ion-toolbar>
</ion-header>
<ion-content padding center text-center>

  <img src="assets/logo.jpg">
  <ion-card-header>
    <ion-card-title>KAWASAKI</ion-card-title>
  </ion-card-header>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Ninja R
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
   Ninja RR
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Ninja 250 CC
  </ion-button>
</ion-content>