<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  <ion-title>Daftar Produk</ion-title>
</ion-toolbar>
</ion-header>
<ion-content padding center text-center>

  <img src="assets/logo.jpg">
  <ion-card-header>
    <ion-card-title>HONDA</ion-card-title>
  </ion-card-header>
  <ion-item href="http://localhost:8100/beat">
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Beat
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Vario
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Supra X
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      CB
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Sonic
    </ion-button>
  </ion-item>
  
</ion-content>