<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  <ion-title>Daftar Produk</ion-title>
</ion-toolbar>
</ion-header>
<ion-content padding center text-center>

  <img src="assets/logo.jpg">
  <ion-card-header>
    <ion-card-title>YAMAHA</ion-card-title>
  </ion-card-header>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Mio
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
   Jupiter Z
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    NMax
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    x-Ride
  </ion-button>

</ion-content>